/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2016, 8:03:03 PM
    Author     : alexanderinfante
*/


body{
    
    background-color: black;
    opacity: 20%;
}
H1{
   
    text-decoration: underline;
    color: skyblue;
}


h2, h3{

    text-decoration: underline;
    color: lightyellow;

}

img{
    
    border-style: solid;
    color: skyblue;
}

p{
    
    font-size: large;
    border-style: solid;
    color: skyblue;
}

a, tim{
    color: lightsteelblue;
}

pp{
    padding: 0px 20px;
}
