/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2016, 8:03:03 PM
    Author     : alexanderinfante
*/


body{
    
    background-image: url("bg.jpg");
    background-repeat: repeat-y;/*repeats bg vertically*/
   
}
H1{
   
    text-decoration: underline;
    color: skyblue;
}


h2, h3{

    text-decoration: underline;
    
     /*not sure what to do just yet as far as the color
       of the headings
     */
    /*color: lightyellow;*/ 
    color: white;

}

img{
    border-radius: 10px;/*gives the rounded edges to the tables*/
    border-style: solid;
    color: skyblue;
}

p{
    border-radius:   10px; /*gives the rounded edges to the tables*/
    background-color: gray;
    box-shadow: 5px 5px 5px skyblue;
    font-size: large;
    border-style: solid;
    color: white;

}

a, tim{
    text-decoration: none;
    color: skyblue;
}
a:hover{
    text-decoration: underline;
    color: mediumblue;
    
}
pp{
    padding: 0px 20px;
}

/*create tooltip for UAT */