/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2016, 7:34:45 PM
    Author     : alexanderinfante
*/


body {
    background-image: url("bg.png");
    background-repeat: no-repeat;

}
   h1{
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;


}
.tooltip .tooltiptext{
       display: inline;
       color: white;
       visibility: hidden;
}

.tooltip:hover .tooltiptext {
    
    visibility: visible;
    color: white;
    display: table-cell;
}

table{

}
